{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    <table class="table  thead">
        <tbody>
            <tr>
                <th class="text-start">City name</th>
                <td class="text-end">{{wet.name}}</td>
            </tr>
            <tr>
                <th class="text-start">Description</th>
                <td class="text-end">{{wet.desc}}</td>
            </tr>
            <tr>
                <th class="text-start">Temperature</th>
                <td class="text-end">{{wet.temp}}&#176;C</td>
            </tr>
            <tr>
                <th class="text-start">Wind speed</th>
                <td class="text-end">{{wet.windspeed}}mph</td>
            </tr>
            <tr>
                <th class="text-start">Humidity</th>
                <td class="text-end">{{wet.humidity}}%</td>
            </tr>
        </tbody>

    </table>
</div>
<!-- <script src="weather.js"></script> -->
{% endblock %}